body{        font-family: Verdana, Geneva, Tahoma, sans-serif;}
 

cite {
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 500;
font-style: italic;
font-size: 1em;
}

.hour  { font-size: 0.6rem; text-align: left;}

footer .fa { font-size: 2rem}

footer .fa-shopping-basket{

font-size: 1.8rem;
}

footer [class^="ui-block-"] {
       text-align: center;
       padding:0.4em;
       padding-top:0.5em;
}


.detailsGrid {
    font-size: x-small;
}


.detailsGrid .ui-block-a {
    text-align: left;
    padding-right:10px;

    width: 80px;
}

.detailsGrid .ui-block-b {
    text-align: left;
    padding-right:10px;

}
	
.center {
    text-align: center;
}

a{
    text-decoration: none;
}

.footer-count{
    border-radius:50%;
    width: 20px;
    height: 20px;
    background-color: yellow;
    padding-left:4px;
    padding-right:4px;
    padding-top:0px;
    padding-bottom:0px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: sub;
    font-size: 12px;
    color: black;
    }

.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:2px 2px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:2px 2px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-dx8v{font-size:12px;vertical-align:top;text-align:left}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}

.fa-star{

color:goldenrod;
}

header .date{
   text-align: center; 
   font-size:x-small;
   padding-bottom: 0.5em;
}

.img-circle {
        border-radius: 50%;
}



.flag-icon  {
        border-radius: 50%;
}

article{
    text-align: center; 
}

#destination article{
    text-align: left;
}

#experience article{
    text-align: left;
}

.fa-tourtuss {
	content: url(/images/tourtuss.svg);
  width: 45px; height: 29px;
}


.languagesGrid{
padding: .5 em;
}

.languageColumn{
    text-align: right;
    padding-right:10px;
        height:25px;
}

.languageColumn.score{
    text-align: left;
}

/* overriding jqm mobile structure style sheet */
.ui-header .ui-title,
.ui-footer .ui-title {
	font-size: 1.5em;
	padding: 0.2em 0;
    	margin: 0 10%;
}


 .x-scroll-outer{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top:1.4rem;
    }

.x-scroll-wrapper {
  width: 100%;
  padding: 0rem;
}

.x-scroll-wrapper .fa { font-size: 2.2rem;  padding-left: 1.3rem; padding-right: 0.25rem;}



.typeCount {font-size: 0.7rem; font-weight: 600; vertical-align: sub}

