  .x-scroll-outer{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top:1.4rem;
    }

.x-scroll-wrapper {
  width: 100%;
  padding: 1rem;
}

.x-scroll-wrapper .fa { font-size: 2rem;   padding: 0.5rem;}

.hour  { font-size: 0.8rem;}

footer .fa { font-size: 1.8rem}
	
.center {
    text-align: center;
}

a{
    text-decoration: none;
}

.footer-count{
    border-radius:50%;
    width: 20px;
    height: 20px;
    background-color: yellow;
    padding-left:4px;
    padding-right:4px;
    padding-top:0px;
    padding-bottom:0px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: sub;
    font-size: 12px;
    color: black;
    }

.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:2px 2px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:2px 2px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-dx8v{font-size:12px;vertical-align:top;text-align:left}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}

.fa-star{

color:goldenrod;
}

header .date{
   text-align: center; 
   font-size:x-small;
}

.img-circle {
        border-radius: 50%;
}



.flag-icon  {
        border-radius: 50%;
}

article{
    text-align: center; 
}

.fa-tourtuss {
	content: url(/images/tourtuss.svg);
  width: 50px; height: 32px;
}

.languagesGrid{
    width:320px;
}


.ui-block-a{
    height:25px;
}

.languageColumn{
    text-align: right;
    padding-right:10px;
}

.languageColumn.score{
    text-align: left;
}
